# Chocolate Sales Challenge

[Kaggle](https://www.kaggle.com/datasets/saidaminsaidaxmadov/chocolate-sales)

## Импорт библиотек

In [259]:
import pathlib
import pickle

import kagglehub
import pandas as pd
import sklearn.compose
import sklearn.model_selection
import sklearn.preprocessing
import sklearn.pipeline
import sklearn.linear_model
import sklearn.ensemble
import sklearn.metrics
import sklearn.calibration

## Просмотр данных

In [260]:
path_to_directory = pathlib.Path(
    kagglehub.dataset_download('saidaminsaidaxmadov/chocolate-sales'))

path_to_data = path_to_directory / 'Chocolate Sales (2).csv'
print(f'{path_to_directory = }')
print(f'{path_to_data = }')

Using Colab cache for faster access to the 'chocolate-sales' dataset.
path_to_directory = PosixPath('/kaggle/input/chocolate-sales')
path_to_data = PosixPath('/kaggle/input/chocolate-sales/Chocolate Sales (2).csv')

In [261]:
df = pd.read_csv(path_to_data, parse_dates=['Date'])
df.head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
1,Van Tuxwell,India,85% Dark Bars,01/08/2022,"$7,896.00",94
2,Gigi Bohling,India,Peanut Butter Cubes,07/07/2022,"$4,501.00",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27/04/2022,"$12,726.00",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24/02/2022,"$13,685.00",184

In [262]:
df.tail()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
3277,Karlen McCaffrey,Australia,Spicy Special Slims,17/05/2024,"$5,303.58",354
3278,Jehu Rudeforth,USA,White Choc,07/06/2024,"$7,339.32",121
3279,Ches Bonnell,Canada,Organic Choco Syrup,26/07/2024,$616.09,238
3280,Dotty Strutley,India,Eclairs,28/07/2024,"$2,504.62",397
3281,Karlen McCaffrey,India,70% Dark Bites,23/05/2024,"$5,915.87",355

In [263]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3282 entries, 0 to 3281
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   3282 non-null   object
 1   Country        3282 non-null   object
 2   Product        3282 non-null   object
 3   Date           3282 non-null   object
 4   Amount         3282 non-null   object
 5   Boxes Shipped  3282 non-null   int64
dtypes: int64(1), object(5)
memory usage: 154.0+ KB

In [264]:
df.describe()

       Boxes Shipped
count    3282.000000
mean      164.666971
std       124.024736
min         1.000000
25%        71.000000
50%       137.000000
75%       232.000000
max       778.000000

In [265]:
df.describe(include=['object'])

         Sales Person    Country  Product        Date     Amount
count            3282       3282     3282        3282       3282
unique             25          6       22         504       3013
top     Kelci Walkden  Australia  Eclairs  13/01/2024  $2,317.00
freq              162        615      180          16          5

In [266]:
str_features = df.describe(include=['object']).columns
str_features

Index(['Sales Person', 'Country', 'Product', 'Date', 'Amount'], dtype='object')

In [267]:
for feature in str_features:
  print(f'{feature}:', ', '.join(pd.unique(df[feature])))

Sales Person: Jehu Rudeforth, Van Tuxwell, Gigi Bohling, Jan Morforth, Oby Sorrel, Gunar Cockshoot, Brien Boise, Rafaelita Blaksland, Barr Faughny, Mallorie Waber, Karlen McCaffrey, Marney O'Breen, Beverie Moffet, Roddy Speechley, Curtice Advani, Husein Augar, Kaine Padly, Dennison Crosswaite, Wilone O'Kielt, Andria Kimpton, Kelci Walkden, Camilla Castle, Madelene Upcott, Dotty Strutley, Ches Bonnell
Country: UK, India, Australia, New Zealand, USA, Canada
Product: Mint Chip Choco, 85% Dark Bars, Peanut Butter Cubes, Smooth Sliky Salty, 99% Dark & Pure, After Nines, 50% Dark Bites, Orange Choco, Eclairs, Drinking Coco, Organic Choco Syrup, Milk Bars, Spicy Special Slims, Fruit & Nut Bars, White Choc, Manuka Honey Choco, Almond Choco, Raspberry Choco, Choco Coated Almonds, Baker's Choco Chips, Caramel Stuffed Bars, 70% Dark Bites
Date: 04/01/2022, 01/08/2022, 07/07/2022, 27/04/2022, 24/02/2022, 06/06/2022, 25/01/2022, 24/03/2022, 20/04/2022, 04/07/2022, 13/01/2022, 10/03/2022, 28/07/2022, 03/08/2022, 26/01/2022, 14/02/2022, 05/04/2022, 16/02/2022, 08/06/2022, 27/06/2022, 17/02/2022, 30/05/2022, 14/03/2022, 28/02/2022, 09/02/2022, 05/07/2022, 15/06/2022, 24/05/2022, 29/06/2022, 11/05/2022, 30/06/2022, 22/07/2022, 24/08/2022, 19/05/2022, 02/06/2022, 15/04/2022, 11/07/2022, 23/02/2022, 22/08/2022, 10/06/2022, 19/07/2022, 19/04/2022, 15/07/2022, 18/05/2022, 28/06/2022, 16/05/2022, 26/05/2022, 06/07/2022, 27/05/2022, 14/04/2022, 10/08/2022, 08/07/2022, 02/03/2022, 10/01/2022, 11/03/2022, 20/06/2022, 26/08/2022, 13/07/2022, 11/02/2022, 27/01/2022, 31/01/2022, 18/08/2022, 23/08/2022, 25/05/2022, 07/02/2022, 12/05/2022, 07/03/2022, 03/01/2022, 26/07/2022, 01/04/2022, 08/04/2022, 28/03/2022, 04/03/2022, 02/08/2022, 25/08/2022, 25/02/2022, 07/06/2022, 12/04/2022, 19/01/2022, 05/01/2022, 24/01/2022, 06/04/2022, 28/01/2022, 16/03/2022, 21/02/2022, 23/03/2022, 16/06/2022, 09/03/2022, 15/08/2022, 12/01/2022, 25/07/2022, 25/04/2022, 04/04/2022, 18/01/2022, 29/04/2022, 31/03/2022, 29/03/2022, 12/07/2022, 20/05/2022, 29/07/2022, 13/04/2022, 07/01/2022, 14/01/2022, 17/03/2022, 21/01/2022, 22/02/2022, 31/05/2022, 14/06/2022, 13/06/2022, 27/07/2022, 13/05/2022, 15/03/2022, 25/03/2022, 18/03/2022, 01/07/2022, 08/08/2022, 04/05/2022, 04/08/2022, 01/06/2022, 22/04/2022, 17/08/2022, 08/03/2022, 09/05/2022, 23/05/2022, 11/01/2022, 19/08/2022, 21/04/2022, 22/03/2022, 30/08/2022, 21/07/2022, 23/06/2022, 01/02/2022, 24/06/2022, 09/06/2022, 17/05/2022, 18/07/2022, 21/06/2022, 22/06/2022, 02/05/2022, 21/03/2022, 05/05/2022, 06/05/2022, 15/02/2022, 08/02/2022, 03/05/2022, 09/08/2022, 10/05/2022, 05/08/2022, 31/08/2022, 11/04/2022, 03/03/2022, 26/04/2022, 03/02/2022, 12/08/2022, 17/01/2022, 11/08/2022, 17/06/2022, 10/02/2022, 18/04/2022, 30/03/2022, 16/08/2022, 03/06/2022, 01/03/2022, 18/02/2022, 20/07/2022, 28/04/2022, 14/07/2022, 20/01/2022, 04/01/2023, 01/08/2023, 07/07/2023, 27/04/2023, 24/02/2023, 06/06/2023, 25/01/2023, 24/03/2023, 20/04/2023, 04/07/2023, 13/01/2023, 10/03/2023, 28/07/2023, 03/08/2023, 26/01/2023, 14/02/2023, 05/04/2023, 16/02/2023, 08/06/2023, 27/06/2023, 17/02/2023, 30/05/2023, 14/03/2023, 28/02/2023, 09/02/2023, 05/07/2023, 15/06/2023, 24/05/2023, 29/06/2023, 11/05/2023, 30/06/2023, 22/07/2023, 24/08/2023, 19/05/2023, 02/06/2023, 15/04/2023, 11/07/2023, 23/02/2023, 22/08/2023, 10/06/2023, 19/07/2023, 19/04/2023, 15/07/2023, 18/05/2023, 28/06/2023, 16/05/2023, 26/05/2023, 06/07/2023, 27/05/2023, 14/04/2023, 10/08/2023, 08/07/2023, 02/03/2023, 10/01/2023, 11/03/2023, 20/06/2023, 26/08/2023, 13/07/2023, 11/02/2023, 27/01/2023, 31/01/2023, 18/08/2023, 23/08/2023, 25/05/2023, 07/02/2023, 12/05/2023, 07/03/2023, 03/01/2023, 26/07/2023, 01/04/2023, 08/04/2023, 28/03/2023, 04/03/2023, 02/08/2023, 25/08/2023, 25/02/2023, 07/06/2023, 12/04/2023, 19/01/2023, 05/01/2023, 24/01/2023, 06/04/2023, 28/01/2023, 16/03/2023, 21/02/2023, 23/03/2023, 16/06/2023, 09/03/2023, 15/08/2023, 12/01/2023, 25/07/2023, 25/04/2023, 04/04/2023, 18/01/2023, 29/04/2023, 31/03/2023, 29/03/2023, 12/07/2023, 20/05/2023, 29/07/2023, 13/04/2023, 07/01/2023, 14/01/2023, 17/03/2023, 21/01/2023, 22/02/2023, 31/05/2023, 14/06/2023, 13/06/2023, 27/07/2023, 13/05/2023, 15/03/2023, 25/03/2023, 18/03/2023, 01/07/2023, 08/08/2023, 04/05/2023, 04/08/2023, 01/06/2023, 22/04/2023, 17/08/2023, 08/03/2023, 09/05/2023, 23/05/2023, 11/01/2023, 19/08/2023, 21/04/2023, 22/03/2023, 30/08/2023, 21/07/2023, 23/06/2023, 01/02/2023, 24/06/2023, 09/06/2023, 17/05/2023, 18/07/2023, 21/06/2023, 22/06/2023, 02/05/2023, 21/03/2023, 05/05/2023, 06/05/2023, 15/02/2023, 08/02/2023, 03/05/2023, 09/08/2023, 10/05/2023, 05/08/2023, 31/08/2023, 11/04/2023, 03/03/2023, 26/04/2023, 03/02/2023, 12/08/2023, 17/01/2023, 11/08/2023, 17/06/2023, 10/02/2023, 18/04/2023, 30/03/2023, 16/08/2023, 03/06/2023, 01/03/2023, 18/02/2023, 20/07/2023, 28/04/2023, 14/07/2023, 20/01/2023, 04/01/2024, 01/08/2024, 07/07/2024, 27/04/2024, 24/02/2024, 06/06/2024, 25/01/2024, 24/03/2024, 20/04/2024, 04/07/2024, 13/01/2024, 10/03/2024, 28/07/2024, 03/08/2024, 26/01/2024, 14/02/2024, 05/04/2024, 16/02/2024, 08/06/2024, 27/06/2024, 17/02/2024, 30/05/2024, 14/03/2024, 28/02/2024, 09/02/2024, 05/07/2024, 15/06/2024, 24/05/2024, 29/06/2024, 11/05/2024, 30/06/2024, 22/07/2024, 24/08/2024, 19/05/2024, 02/06/2024, 15/04/2024, 11/07/2024, 23/02/2024, 22/08/2024, 10/06/2024, 19/07/2024, 19/04/2024, 15/07/2024, 18/05/2024, 28/06/2024, 16/05/2024, 26/05/2024, 06/07/2024, 27/05/2024, 14/04/2024, 10/08/2024, 08/07/2024, 02/03/2024, 10/01/2024, 11/03/2024, 20/06/2024, 26/08/2024, 13/07/2024, 11/02/2024, 27/01/2024, 31/01/2024, 18/08/2024, 23/08/2024, 25/05/2024, 07/02/2024, 12/05/2024, 07/03/2024, 03/01/2024, 26/07/2024, 01/04/2024, 08/04/2024, 28/03/2024, 04/03/2024, 02/08/2024, 25/08/2024, 25/02/2024, 07/06/2024, 12/04/2024, 19/01/2024, 05/01/2024, 24/01/2024, 06/04/2024, 28/01/2024, 16/03/2024, 21/02/2024, 23/03/2024, 16/06/2024, 09/03/2024, 15/08/2024, 12/01/2024, 25/07/2024, 25/04/2024, 04/04/2024, 18/01/2024, 29/04/2024, 31/03/2024, 29/03/2024, 12/07/2024, 20/05/2024, 29/07/2024, 13/04/2024, 07/01/2024, 14/01/2024, 17/03/2024, 21/01/2024, 22/02/2024, 31/05/2024, 14/06/2024, 13/06/2024, 27/07/2024, 13/05/2024, 15/03/2024, 25/03/2024, 18/03/2024, 01/07/2024, 08/08/2024, 04/05/2024, 04/08/2024, 01/06/2024, 22/04/2024, 17/08/2024, 08/03/2024, 09/05/2024, 23/05/2024, 11/01/2024, 19/08/2024, 21/04/2024, 22/03/2024, 30/08/2024, 21/07/2024, 23/06/2024, 01/02/2024, 24/06/2024, 09/06/2024, 17/05/2024, 18/07/2024, 21/06/2024, 22/06/2024, 02/05/2024, 21/03/2024, 05/05/2024, 06/05/2024, 15/02/2024, 08/02/2024, 03/05/2024, 09/08/2024, 10/05/2024, 05/08/2024, 31/08/2024, 11/04/2024, 03/03/2024, 26/04/2024, 03/02/2024, 12/08/2024, 17/01/2024, 11/08/2024, 17/06/2024, 10/02/2024, 18/04/2024, 30/03/2024, 16/08/2024, 03/06/2024, 01/03/2024, 18/02/2024, 20/07/2024, 28/04/2024, 14/07/2024, 20/01/2024

## Обработка данных

In [268]:
df['Amount'] = df['Amount'].replace({'\$': '', ',': ''}, regex=True)
df['Amount'] = pd.to_numeric(df['Amount'])
df['Amount'].head()

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
/tmp/ipython-input-1438467415.py:1: SyntaxWarning: invalid escape sequence '\$'
  df['Amount'] = df['Amount'].replace({'\$': '', ',': ''}, regex=True)

0     5320.0
1     7896.0
2     4501.0
3    12726.0
4    13685.0
Name: Amount, dtype: float64

In [269]:
df.describe()

             Amount  Boxes Shipped
count   3282.000000    3282.000000
mean    6030.338775     164.666971
std     4393.980200     124.024736
min        7.000000       1.000000
25%     2521.495000      71.000000
50%     5225.500000     137.000000
75%     8556.842500     232.000000
max    26170.950000     778.000000

In [270]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3282 entries, 0 to 3281
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   3282 non-null   object
 1   Country        3282 non-null   object
 2   Product        3282 non-null   object
 3   Date           3282 non-null   object
 4   Amount         3282 non-null   float64
 5   Boxes Shipped  3282 non-null   int64
dtypes: float64(1), int64(1), object(4)
memory usage: 154.0+ KB

In [271]:
if 'Date' in df:
  df = df.drop('Date', axis=1).drop_duplicates()

In [272]:
df.columns

Index(['Sales Person', 'Country', 'Product', 'Amount', 'Boxes Shipped'], dtype='object')

In [273]:
df.describe(include=['object'])

         Sales Person    Country  Product
count            3282       3282     3282
unique             25          6       22
top     Kelci Walkden  Australia  Eclairs
freq              162        615      180

In [274]:
pd.get_dummies(df.copy()).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3282 entries, 0 to 3281
Data columns (total 55 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Amount                            3282 non-null   float64
 1   Boxes Shipped                     3282 non-null   int64
 2   Sales Person_Andria Kimpton       3282 non-null   bool
 3   Sales Person_Barr Faughny         3282 non-null   bool
 4   Sales Person_Beverie Moffet       3282 non-null   bool
 5   Sales Person_Brien Boise          3282 non-null   bool
 6   Sales Person_Camilla Castle       3282 non-null   bool
 7   Sales Person_Ches Bonnell         3282 non-null   bool
 8   Sales Person_Curtice Advani       3282 non-null   bool
 9   Sales Person_Dennison Crosswaite  3282 non-null   bool
 10  Sales Person_Dotty Strutley       3282 non-null   bool
 11  Sales Person_Gigi Bohling         3282 non-null   bool
 12  Sales Person_Gunar Cockshoot      3282 non-null   bool
 13  Sales Person_Husein Augar         3282 non-null   bool
 14  Sales Person_Jan Morforth         3282 non-null   bool
 15  Sales Person_Jehu Rudeforth       3282 non-null   bool
 16  Sales Person_Kaine Padly          3282 non-null   bool
 17  Sales Person_Karlen McCaffrey     3282 non-null   bool
 18  Sales Person_Kelci Walkden        3282 non-null   bool
 19  Sales Person_Madelene Upcott      3282 non-null   bool
 20  Sales Person_Mallorie Waber       3282 non-null   bool
 21  Sales Person_Marney O'Breen       3282 non-null   bool
 22  Sales Person_Oby Sorrel           3282 non-null   bool
 23  Sales Person_Rafaelita Blaksland  3282 non-null   bool
 24  Sales Person_Roddy Speechley      3282 non-null   bool
 25  Sales Person_Van Tuxwell          3282 non-null   bool
 26  Sales Person_Wilone O'Kielt       3282 non-null   bool
 27  Country_Australia                 3282 non-null   bool
 28  Country_Canada                    3282 non-null   bool
 29  Country_India                     3282 non-null   bool
 30  Country_New Zealand               3282 non-null   bool
 31  Country_UK                        3282 non-null   bool
 32  Country_USA                       3282 non-null   bool
 33  Product_50% Dark Bites            3282 non-null   bool
 34  Product_70% Dark Bites            3282 non-null   bool
 35  Product_85% Dark Bars             3282 non-null   bool
 36  Product_99% Dark & Pure           3282 non-null   bool
 37  Product_After Nines               3282 non-null   bool
 38  Product_Almond Choco              3282 non-null   bool
 39  Product_Baker's Choco Chips       3282 non-null   bool
 40  Product_Caramel Stuffed Bars      3282 non-null   bool
 41  Product_Choco Coated Almonds      3282 non-null   bool
 42  Product_Drinking Coco             3282 non-null   bool
 43  Product_Eclairs                   3282 non-null   bool
 44  Product_Fruit & Nut Bars          3282 non-null   bool
 45  Product_Manuka Honey Choco        3282 non-null   bool
 46  Product_Milk Bars                 3282 non-null   bool
 47  Product_Mint Chip Choco           3282 non-null   bool
 48  Product_Orange Choco              3282 non-null   bool
 49  Product_Organic Choco Syrup       3282 non-null   bool
 50  Product_Peanut Butter Cubes       3282 non-null   bool
 51  Product_Raspberry Choco           3282 non-null   bool
 52  Product_Smooth Sliky Salty        3282 non-null   bool
 53  Product_Spicy Special Slims       3282 non-null   bool
 54  Product_White Choc                3282 non-null   bool
dtypes: bool(53), float64(1), int64(1)
memory usage: 221.3 KB

## Разделение данных

In [275]:
X, y = df.drop('Amount', axis=1), df['Amount']

In [276]:
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(
  X,
  y,
  test_size=0.33,
  random_state=42,
)

In [277]:
len(X_train)

2198

## Определеине обработки данных

In [278]:
numerical_features = X_train.select_dtypes(include='number').columns
categorical_features = X_train.select_dtypes(include='object').columns
print(
    f'{numerical_features = }\n{categorical_features = }'
)

numerical_features = Index(['Boxes Shipped'], dtype='object')
categorical_features = Index(['Sales Person', 'Country', 'Product'], dtype='object')

In [279]:
preprocessor = sklearn.compose.ColumnTransformer(
  transformers=[
      ('num', sklearn.preprocessing.MinMaxScaler(), numerical_features),
      ('cat', sklearn.preprocessing.OneHotEncoder(
          sparse_output=False,
          handle_unknown='ignore',
      ), categorical_features)
])

## Обучение моделей

In [280]:
model = sklearn.ensemble.RandomForestRegressor()
pipeline = sklearn.pipeline.Pipeline([
    ('preprocessor', preprocessor),
    ('regressor', model)
])

In [281]:
pipeline.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', MinMaxScaler(),
                                                  Index(['Boxes Shipped'], dtype='object')),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse_output=False),
                                                  Index(['Sales Person', 'Country', 'Product'], dtype='object'))])),
                ('regressor', RandomForestRegressor())])

## Оценка качества

In [282]:
rmse = sklearn.metrics.root_mean_squared_error(
    y_test,
    pipeline.predict(X_test),
)
print(f'{rmse = :.2f} $')

rmse = 2511.75 $

In [283]:
x, y = df.head(1).drop('Amount', axis=1), df.head(1)['Amount'].item()
print(
    f'True pred: {y:.2f} $\n',
    f'Model pred: {pipeline.predict(x)[0]:.2f} $',
)

True pred: 5320.00 $
 Model pred: 6252.49 $

## Сохранение Pipeline'а

In [284]:
with open('pipeline.pkl', 'wb') as file:
    pickle.dump(pipeline, file)

In [285]:
with open('pipeline.pkl', 'rb') as file:
    pipline = pickle.load(file)

In [286]:
x, y = df.head(1).drop('Amount', axis=1), df.head(1)['Amount'].item()
print(
    f'True pred: {y:.2f} $\n',
    f'Model pred: {pipeline.predict(x)[0]:.2f} $',
)

True pred: 5320.00 $
 Model pred: 6252.49 $